@model IEnumerable<Evaluacion.Models.Articulo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="PlaceHolderHere"></div>

<h2>Articulos</h2>

<button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addArticulo"
        data-url="@Url.Action("Create")">
    Nuevo
</button>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Art_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Art_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <button type="button" class="btn btn-secondary" data-toggle="ajax-modal" data-target="#addArticulo" data-url="@Url.Action("Edit/" + item.Art_ID.ToString())">Editar</button>
                <button type="button" class="btn btn-secondary" onclick="Delete(@item.Art_ID)">Eliminar</button>

            </td>
        </tr>
    }

</table>

<script type="text/javascript">
    $(function () {
        var PlaceHolderElement = $('#PlaceHolderHere');

        $('button[data-toggle="ajax-modal"]').click(function (event) {
            var url = $(this).data('url');
            var decodedUrl = decodeURIComponent(url);

            $.get(decodedUrl).done(function (data) {
                PlaceHolderElement.html(data);
                PlaceHolderElement.find('.modal').modal('show');
            })
        })

        PlaceHolderElement.on('click', '[data-save="modal"]', function (event) {
            var form = $(this).parents('.modal').find('form');
            var actionUrl = form.attr('action');
            var sendData = form.serialize();
            $.post(actionUrl, sendData).done(function (data) {
                PlaceHolderElement.find('.modal').modal('hide');
                location.reload(true)
            })
        })

    })


    function Delete(id) {
        debugger;
        var actionUrl = 'Delete/' + id;
        var sendData = id;
        $.post(actionUrl, sendData).done(function (data) {
            debugger;
            location.reload(true)
        })
    }



</script>

